<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shane.MAV">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MAV"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MAV_UI.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MAV_UI.MainScreen" />
        <activity android:name=".MAV_UI.CampaignHome" />
        <activity android:name=".MAV_UI.CampaignSummary" />
        <activity android:name=".MAV_UI.CampaignPerforemance" />
        <activity android:name=".MAV_UI.CampaignGoals" />
        <activity android:name=".MAV_UI.QuestionAnswerSummary"></activity>
    </application>

</manifest>